{% extends "base.html" %}
{% load static %}

    

{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}You Beauty{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/salons.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Kanit' rel='stylesheet'>
</head>

<div class="top-bar"></div>
<div class="container">
    <div class="salon-details">
        <div class="smaller-details">
            <h1>{{ salon.salon_name }}</h1>
            <p>{{ salon.salon_address.address_line1 }}, {{ salon.salon_address.state }}, {{ salon.salon_address.postcode }}</p>
            <br>
            <h2>Opening Hours: {{ salon.salon_openingtime }} - {{ salon.salon_closingtime }}</h2>
            <br>
            <h2>Happy Hour Time: {{ salon.happyhour_times }}</h2>
            <h2>Happy Hour Days: {{ salon.happyhour_days }}</h2>
            <h2>Happy Hour Discount: {{ salon.happyhour_discount }}% off</h2>
        </div>
        
        <div class="salonpage-image-container">
            <img loading="lazy" src="{% static 'design/salon-image.jpg' %}" class="salonpage-image">
        </div>
    </div>
    <div class="services">
        <h1>Services Offered</h1>
        {% for service in services %}
            <div class="allservice-details">
                <div class="service-details">
                    <h2>{{ service.service.service_name }}</h2> 
                    <p>{{ service.duration }} mins</p>
                    <br>
                    <h2>${{ service.price }}</h2>
                </div>
                <a href="{% url 'make_bookings' service.id %}">
                    <button type="button" class="book-button">BOOK</button>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}