body {
    font-family: Arial, sans-serif;
}

.main-body{
    display: flex;
    background-color: #F4F4F4;
    flex-direction: row;
    width: 100%;
    height: 90vh;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: rgb(224, 169, 232, 0.24);
    /* transparency:  */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    /* padding-top: 20px; */
}
    nav ul {
        margin-left: -40px;
        list-style-type: none;
    }
    .nav-item {
        margin-bottom: 30px;
        width: 80%;
        height: auto;
    }
    
    .nav-item a img {
        width: 45px;
        height: 40px;
    }

    .nav-item a {
        display: inline-block; /* Makes the anchor a block for easier styling */
        transition: background-color 0.3s ease; /* Smooth transition for background color */
        padding: 10px; 
        /* margin-right: -5px; */
        border-radius: 30px;
    }

    .nav-item a:hover{
        background-color: rgb(157, 71, 136, 0.3);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    }

    
.info-container { 
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 25px;
    background-color: white;
    height: 80%;
    width: 30%;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 20px; */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    align-self: center;
}

h2 {
    color:#585757;
    font-family: "Kanit";
    font-size: 30px;
    text-align: center;
    font-weight: normal;
}


.horizontal-spacer {
    margin-left: 130px;
}

.profile-image {
    object-fit: cover;
    width: 220px;
    height: 220px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    /* margin: 0;
    padding: 0; */
    display: block;
    overflow: hidden;
    z-index: 900;
}

.profile-information-container {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    /* align-items: flex-start; */
    /* align-content: center; */
    /* align-content: flex-start; */
    /* background-color: blue; */
    /* padding: 0px 20px; */
    /* margin: 0px 40px; */
    /* margin: 0% 10%; */
    /* padding: 0%; */
    gap: 8px;
}
    
    .profile-information-container button {
        font-size: 15px;
        border-radius: 16px;
        background-color: #8A226C;
        padding: 10px 5px;
        align-self: center;
        width: 45%;
        border-width: 0px;
        text-align: center;
        color: #fff;
        font-family: 'Julius Sans One';
        font-weight: 1000;
    }
    .profile-information-container button:hover {
        background-color: rgb(180, 122, 189);
        cursor: pointer;
    }




.profile-item-container {
    display: flex;
    flex-direction: row;
    gap: 10%;
    /* border: 3px solid black; */
    width: 100%;
    /* align-items: flex-end; */
    /* flex-wrap: wrap; */
}

.profile-item-container input {
    flex: 1;
    overflow-wrap: anywhere;
    min-width: 10em;
    font-family: 'Kanit', Verdana, sans-serif;
    background-color: #fff;
    border-width: 0px;
}
.profile-item-container input[disabled] {
    border-width: 0px;
}


.profile-item-container label {
    /* font-size: x-large; */
    font-family: "Kanit";
    flex: 1;
}

/* .profile-item-container input {
    background-color: #fff;
    font-family: 'Kanit', Verdana, sans-serif;
    color: #000;
    overflow-wrap: anywhere;
    text-overflow: ellipsis;
    font-size: 20px;
} */


.upcoming-bookings {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-items: stretch;
    min-width: 24em;
    height: 35em;
    background-color: #fff;
    padding: 1em;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 20px;
    box-shadow: 8px 8px rgba(78, 78, 78, 0.14);
}

.booking {
    flex: 1;
    border: 2px solid #d9d9d9;
    margin: 10px 25px;
    padding: 20px;
    text-align: left;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.booking-scroll {
    height: 100%;
    max-height: 500px;
    overflow: auto;
}

.booking-scroll::-webkit-scrollbar {
    appearance: none;
    height: 5px;
    border: 1px solid #d9d9d9;
    width: 15px;
    border-radius: 10px;
}

.booking-scroll::-webkit-scrollbar-thumb {
    background-color: #d9d9d9;
    border-radius: 10px;
    size: 40px;
}
.booking-scroll::-webkit-scrollbar-track {
    margin: 0 30px;
}

.no-bookings {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    justify-content: center;
    height: 70%;
    gap: 30px;
}

.no-bookings-message {
    color: #888888;
    font-size: 30px;
    justify-content: center;
    text-align: center;
}

@media(min-width:1417px) and (max-width: 2000px){
    .upcoming-bookings {
        max-height: 45em;
        height: 34em;
    }
}

@media(min-width:1008px) and (max-width: 1416px){
    .upcoming-bookings {
        max-height: 45em;
        height: 38em;
    }
}

@media(min-width:694px) and (max-width: 1007px) {
    .upcoming-bookings {
        max-height: 34em;
        height: 34em;
    }
}

@media(max-width: 693px) {
    .upcoming-bookings {
        max-height: 45em;
        height: 38em;
    }
}

.manage {
    align-content: center;
    text-align: center;
    align-self:flex-end;
    padding-right: 40px;
    padding-bottom: 4px;
}