
body {
  background-color:  #F4F4F4;
  overflow: hidden x;
  /* max-width: 100%; */
  margin: 0px;
  padding: 0px;
}
.login-page {
    width: 500px;
    height: 510px;
    
    /* padding: 2% 2% 10%; */
    
    /* margin-top: -5px; */
    background-color: #EFE2F1;
    border-radius: 25px;
    text-align: center;
    align-content: center;
    /* display: block; */
    /* padding: 10px; */
    padding-top: 5px;
}



.login-form input {
  text-align: center;
  border-radius: 33px;
  border-width: 0;
  width: 70%;
  height: 50px;
  margin-bottom: 15px;
  /* padding: 12px 20px; */
}

.login-form button {
  background-color: #8a226f;
  color: white;
  border-radius: 33px;
  width: 70%;
  height: 50px;
  border-width: 0;
  margin-bottom: 10px;
}

label {
  font: 350 19px 'Kanit', sans-serif;
  display: inline-block;
  width: 70%;
  text-align: left;
  margin-bottom: 5px;
  /* text-decoration: none; */
}

h5 {
  font: 100 20px 'Kanit', sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;

}

h4 {
  /* padding-top: -20px; */
  margin-top: -10px;
  margin-right: 80px;
  text-align: right;
  font: 400 15px 'Kanit', sans-serif;
}

a {
  text-decoration: none;
  color: #8a226f;

}

h6 {
    font: 400 40px 'Kanit', sans-serif;
    font-size: 55px;
    margin-bottom: 18px;
    text-align: center;
  }

h2 {
  font: 400 20px 'Kanit', sans-serif;
  font-size: xx-large;
  margin-bottom: 18px;
  text-align: center;
}

h3 {
  font: 400 20px 'Kanit', sans-serif;
}


.flex-container{
    /* margin: 0; */
    flex-wrap: wrap; 
    /* z-index: 3; */
    /* align-content: center; */
    display: flex;
    flex-direction: row;
    align-items: center;
    /* align-items: baseline; */
    gap: 100px;
    /* border: 3px solid black; */
    /* width: 50%; */
    /* flex-wrap: wrap; */
    /* margin-left: 100px; */
    padding: 3% 5% 4%;
    /* background-color: #F4F4F4; */
    /* width: 900px; */
    /* height: 500px; */
    min-height: 550px;

}

.flex-box{
  width: 45%;
  /* width: 500px; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 510px;
}

img {
  max-width: 100%;
}

@media (max-width: 1110px) {
  .flex-box{
    width: 95%;
  }
}





