.logo-container {
    aspect-ratio: 1;
    border-radius: 50%;
    width: 112px;
    max-width: 100%;
    position: absolute;
    background-color: #fff;
    margin-top: 30px;
    margin-left: 30px;
}
.logo {
    object-fit: contain;
    object-position: 6px 5px;
    width: 90%;
    height: 90%;
}



h1 {
    font: 400 20px 'Julius Sans One', sans-serif;
    position: absolute;
    margin-top: 70px;
    margin-left: 170px;
}



/* Hamburger Menu */
:root{
    --bar-width: 20px;
    --bar-height: 3px;
    --hamburger-gap: 4px;
    --background: #8A226F;
    --animation-timing: 200ms ease-in-out;
}
.hamburger {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: var(--hamburger-gap);
    width: fit-content;
    margin-left: 96%;
    position: absolute;
    top: 70px;
    z-index: 2;
    cursor: pointer;
}
.hamburger::before,
.hamburger::after,
.hamburger input{
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--background);
    border-radius: 20px;
    transform-origin: right center;
    transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing), translate var(--animation-timing);
}
.hamburger input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}
.hamburger:has(input:checked)::before {
    rotate: -45deg;
}
.hamburger:has(input:checked)::after {
    rotate: 45deg;
}
.hamburger input:checked {
    opacity: 0;
    width: 0;
}
.menu {
    display: flex;
    margin-top: 100px;
    overflow: hidden;
    font: 20px 'Julius Sans One', sans-serif;
    line-height: 40px;
    color: #8A226F;
    width: 98vw;
    height: 0;
    position: absolute;
    justify-content: end;
    opacity: 0;
    transition: opacity var(--animation-timing), height var(--animation-timing);
    list-style: none;
    z-index: 100;
}
.hamburger.hamburger:has(input:checked) + .menu {
    height: fit-content;
    opacity: 100;
}

.menu a{
    text-decoration: none;
    color: inherit;
}
.menu a:hover {
    text-decoration: none;
    color: black;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    text-align: center;
    z-index: 100;
}

.logout-link {
    background-color: transparent!important;
    border: none;
    padding: 0!important;
    color: #8A226F; 
    margin: 0;
    font: 20px 'Julius Sans One', sans-serif;
    cursor: pointer;
    padding: 0;
    font-size: inherit; 
}

.logout-link:hover {
    color: #000;
}

.logout-button {
    background-color: transparent;
    color: transparent;
    border: none;
}



.Rectangle {
    position: absolute;
    background-color: #F4F4F4;
    width: 100%;
    height: 444px;
    top: 170px;
    z-index: 60;
}
/* .Rectangle2 {
    position: absolute;
    background-color: black;
    width: 100%;
    height: 444px;
    top: 170px;
    z-index: 60;
} */



.about {
    position: absolute;
    text-align: center;
    top: 200px;
    z-index: 90;
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-left: 50%;
}

h3 {
    font-family: 'Kanit';
    font-size: 32px;
}

p {
    font-family: 'Kanit';
    font-size: 18px;
}

.logo2 {
    z-index: 100;
    width: 250px;
    margin-top: 110px;
    margin-left: 20%;
    position: absolute;
}

/* .testimonials {
    position: absolute;
    text-align: center;
    top: 600px;
    z-index: 90;
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-left: 35%;
} */
.testimonials {
    background-color: #3a3a3a; /* Dark background color */
    color: white;
    position: absolute;
    top: 700px;
    padding: 2px 0;
    text-align: center;
    border-radius: 300px;
    margin-left: 9.5%;
    /* margin: 40px auto; */
    flex-direction: column;
    width: 80%;
}

/* Heading style */
.testimonials h2 {
    font-family: 'Kanit', sans-serif;
    font-size: 36px;
    margin-bottom: 5px;
}

/* Testimonial text and styling */
.testimonial-slider {
    position: relative;
    padding: 2px;
    width: 100%;
}

.testimonial {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 18px;
    padding: 2px;
}

.testimonial p {
    font-style: italic;
}

.testimonial span {
    display: block;
    margin-top: 5px;
    font-weight: bold;
}

/* Navigation style */
.testimonial-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.testimonial-navigation span {
    margin: 0 15px;
}

.testimonial-navigation button {
    background-color: white;
    border: none;
    padding: 10px;
    font-size: 18px;
    border-radius: 50%;
    cursor: pointer;
}

.testimonial-navigation button:hover {
    background-color: #ccc;
}

/* Pricing Section */

.pricing-section {
    position: absolute;
    top: 900px; /* Adjust this value to fit the layout */
    margin-left: 9.5%;
    width: 100%;


    text-align: center;
    margin: 50px 0;
    padding: 50px 0;
    /* background-color: #f4f4f4; */

}

.pricing-section h2 {
    font-family: 'Kanit', sans-serif;
    font-size: 36px;
    margin-bottom: 40px;
    top: 1000px;

}

/* Pricing Cards Container */
.pricing-container {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    margin: 0 auto;
    max-width: 1000px;
}

/* Individual Pricing Cards */
.pricing-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f4f4f4;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-right: 5%;
    width: 30%;
    text-align: center;
}

.pricing-card:hover {
    transform: scale(1.05);
}

/* Pricing Card Heading */
.pricing-card h3 {
    font-family: 'Kanit', sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Pricing Card List */
.pricing-card ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.pricing-card ul li {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
}

/* Pricing Amount */
.price {
    font-family: 'Kanit', sans-serif;
    color: blueviolet;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: auto;
}

/* Start Now Button */
.start-now {
    background-color: #3a3a3a;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    border-radius: 30px;

}

.start-now:hover {
    background-color: #555;
}

footer {
    /* margin-bottom: -20px;
    margin-left: -20px;
    margin-right: -20px; */
    background-color: white;
    height: 150px;
    /* position: relative; */
    /* max-width: 100%; */
    overflow: hidden;
    /* padding: 0; */
    margin: 0;
    /* border: none; */
    /* margin: -20px; */
    /* padding: -5px; */
    /* overflow-x: hidden; */
    /* text-align: center; */
}

header {
    background-color: white;
    height: 150px;
    /* margin: 0 auto; */
    /* margin-top: -20px;
    margin-left: -10px;
    margin-right: -20px; */
    /* max-width: 100%; */
    overflow: hidden;
    /* padding: 0; */
    margin: 0;
    /* border: none; */
    /* margin: -20px; */
    /* overflow-x: hidden; */
    /* margin-bottom: -10px; */
}

