footer {
    margin-bottom: -20px;
    margin-left: -20px;
    margin-right: -20px;
    background-color: white;
    height: 150px;
    position: relative;
    /* text-align: center; */
}

header {
    background-color: white;
    height: 180px;
    /* margin: 0 auto; */
    margin-top: -10px;
    margin-left: -20px;
    margin-right: -20px;
    /* margin-bottom: -10px; */
}