
.FAQ-body {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 170px;
    height: 100%;
    padding: 20px;
    padding-bottom: 50px;
    }

    .FAQ-body h1 {
        margin-top: 50px;
        margin-bottom: 45px;
        color:rgb(0, 0, 0);
        font-family: "Kanit";
        font-size: 40px;
        font-weight: normal;
        text-align: center;
        /* align-items: center; */
    }

    /* IDK how to make h2 go to the left!! */
    .FAQ-body h2 {
        /* display: flex; */
        color:#585757;
        font-family: "Kanit";
        font-size: 35px;
        text-align: left;
        font-weight: normal;
        /* justify-content: left; */
    }

    .FAQ-body .question {
        background-color: #eeeeee; 
        width: 70%; 
        /* max-width: 800px;  */
        /* height: 50px;  */
        /* margin-top: 60px;  */
        /* padding: 20px;  */
        display: flex;
        flex-direction: row;
        /* border: 1px solid #eeeeee; */
        box-sizing: border-box;
        /* min-height: 70px; */
        /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
        border-radius: 10px; 
        border: 1px solid #ddd; 
        box-sizing: border-box;  */
        } 

        .FAQ-body .question .Q-letter {
            display: flex;
            font-family: "Kanit";
            font-weight: 510;
            color: #000000;
            font-size: 35px;
            /* text-align: center; */
            width: 10%;
            padding: 10px;
            justify-content: center;
            align-items: center;
            /* padding: 30px; */
            /* margin-top: 5px; */
            /* margin-right: 25px;
            margin-left: 14px; */
        }

        .FAQ-body .question .Q {
            display: flex;
            font-family: "Kanit";
            font-weight: 510;
            color: #000000;
            font-size: 25px;
            /* text-align: left; */
            padding: 17px;
            width: 90%;
            /* margin-top: 5px;
            margin-left: 60px; */
            /* margin-right: 25px;
            margin-left: 10px; */
            line-height: 1.5;
            justify-content: left;
            align-items: center;
        }

    .FAQ-body .answer {
        background-color: #ffffff; 
        /* width: 70%;  */
        /* max-width: 800px;  */
        /* height: 50px;  */
        width: 70%; 
        /* padding: 20px;  */
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        border: 1px solid #ddd;
        /* margin: 0px 0px 60px 0px; */
        /* border-radius: 10px; */
        /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
         
         
          */
        } 
        .FAQ-body .answer .A-letter {
            display: flex;
            font-family: "Kanit";
            font-weight: 510;
            color: #5e5e5e;
            font-size: 35px;
            align-items: center;
            justify-content: center;
            /* padding: 25px; */
            margin: 9px 48px 9px 48px;
            /* margin-top: 10px; */
            /* margin-right: 25px;
            margin-left: 14px; */
            /* vertical-align: middle; */
        }

        .FAQ-body .answer .A {
            display: flex;
            font-family: "Kanit";
            font-weight: 510;
            color: #5e5e5e;
            font-size: 20px;
            padding: 17px;
            /* margin-top: 10px;
            margin-left: 60px; */
            /* margin-right: 25px;
            margin-left: 10px; */
            justify-content: left;
            align-items: center;
            line-height: 1.5;
            overflow-wrap: break-word;
            /* vertical-align: middle; */
        }

.spacer {
    margin-top: 50px;
}

.small-spacer {
    margin-top: 40px;
}


