.top-bar {
    /* background-color: #f5f5f5; */
    height: 60px;
    width: 100%;
}

.container {
    margin-top: 100px; /* Move content down by 60px */
    padding: 50px;
}

.booking-section {
    display: flex;
    justify-content: space-evenly; /* equal space on edges and in middles */
    align-items: flex-start;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    gap: 10px; /* add gap always */
    height: fit-content;
}

.left-section, .right-section {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 85%;
}

h2 {
    font-family: 'Kanit', sans-serif;
    color: #333;
    width: 100%;
    margin-left: 70px;
    margin-bottom: 10px;
}

h3 {
    font-family: 'Kanit', sans-serif;
    color: #333;
}

p {
    font-family: 'Kanit', sans-serif;
    color: #333;
}

.calendar, .time-picker {
    width: 85%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 60px;
}

.calendar-input, .time-input {
    padding: 10px;
    font-size: 1.1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.confirm-button {
    background-color: #d48eff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Kanit', sans-serif;
    max-width: 200px;
}

.confirm-button:hover {
    background-color: #c472ff;
}

.details-card {
    width: 85%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.messages {
    max-width: 600px;
    margin: 20px auto; /* Center the message */
    padding: 10px;
    background-color: #ffffff; /* White background */
    border: 1px solid #ddd; /* Light grey border */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for a lifted effect */
    font-family: 'Kanit', sans-serif; /* Optional: Matches the font you're using */
}

.messages li {
    list-style: none; /* Remove bullet points */
    padding: 10px 15px;
    background-color: #f8f9fa; /* Light background for each message */
    color: #ff4d4d;; /* Dark text color */
    border-bottom: 1px solid #ddd; /* Light border between messages */
    font-size: 16px; /* Adjust font size */
}