
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;    
}

.profile-heading-container{
    align-content: center;
}

.profile-item-container {
    display: flex;
    align-items: flex-end;
    gap: 15%;
    width: 100%;
    flex-wrap: wrap;
}

.profile-page{
    font-family: 'Kanit', Verdana, sans-serif;
    display: flex;
    flex-direction: row;
    width:86%;
    justify-content: space-evenly;
    margin-top: 175px;
    min-height: 30em;
    flex-wrap: wrap;
    padding: 0% 7%;
    padding-bottom: 7%;
}

.profile-details{
    background-color: #fff;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 24em;
    height: 35em;
    padding: 1em;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 20px;
    padding-bottom: 15px;
    margin-bottom: 2%;
    box-shadow: 8px 8px rgba(78, 78, 78, 0.14);
}

.profile-pic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: lime;
    background-color: #d9d9d9;
    aspect-ratio: 1;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.profile-pic {
    object-fit: cover;
    width: 220px;
    height: 220px;
    max-width: 100%;
    max-height: 100%;
    background-color: #d9d9d9;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    display: block;
}

.profile-information-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    font-size: 20px;
    margin: 0% 10%;
    padding: 1em;
    gap: 8px;
}

.upcoming-bookings {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-items: stretch;
    min-width: 24em;
    height: 35em;
    background-color: #fff;
    padding: 1em;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 20px;
    box-shadow: 8px 8px rgba(78, 78, 78, 0.14);
}

.booking {
    flex: 1;
    border: 2px solid #d9d9d9;
    margin: 10px 25px;
    padding: 20px;
    text-align: left;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.upcoming-title {
    align-content: center;
    text-align: center;
    align-self:flex-start;
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 12px;
}

.manage {
    align-content: center;
    text-align: center;
    align-self:flex-end;
    padding-right: 40px;
    padding-bottom: 4px;
}

.h2-link {
    text-decoration: none;
    font-size: 15px;
    color:#484848;
}

.h2-link:hover {
    text-decoration: underline;
    font-size: 15px;
    color:#484848;
}

.booking-scroll {
    height: 100%;
    max-height: 500px;
    overflow: auto;
}

.booking-scroll::-webkit-scrollbar {
    appearance: none;
    height: 5px;
    border: 1px solid #d9d9d9;
    width: 15px;
    border-radius: 10px;
}

.booking-scroll::-webkit-scrollbar-thumb {
    background-color: #d9d9d9;
    border-radius: 10px;
    size: 40px;
}
.booking-scroll::-webkit-scrollbar-track {
    margin: 0 30px;
}

.profile-information-container button {
    font-size: 25px;
    border-radius: 30px;
    background-color: #d282de;
    border-width: 0px;
    margin: 5px 20px;
    margin-top: 30px;
    padding: 10px 5px;
    max-width: 150px;
    align-self: center;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.profile-information-container button:hover {
    background-color: #b644c8;
    cursor: pointer;
}

#confirm {
    visibility: hidden;
    overflow: hidden;
    width: 0px;
    height: 0px;
}

.profile-information-container label {
    font-size: x-large;
}

.profile-information-container input {
    background-color: #fff;
    font-family: 'Kanit', Verdana, sans-serif;
    color: #000;
    font-size: large;
    overflow-wrap: anywhere;
    text-overflow: ellipsis;
}
.profile-information-container input[disabled] {
    border-width: 0px;
}

.profile-item-container input {
    flex: 1;
    overflow-wrap: anywhere;
    min-width: 10em;
}

#phone-number::-webkit-inner-spin-button, #phone-number::-webkit-outer-spin-button {
    appearance: none;
}
#phone-number {
    appearance: textfield;
    -moz-appearance: textfield;
}

.profile-information-container input:not([disabled]) {
    border: 2px solid #000;
    border: 2px solid #d9d9d9;
    border-radius: 10px;
    padding: 0px 10px;
}

.no-bookings {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    justify-content: center;
    height: 70%;
    gap: 30px;
}

.no-bookings-message {
    color: #888888;
    font-size: 30px;
    justify-content: center;
    text-align: center;
}

#explore-salons-link {
    color: #888888;
    font-size: 20px;
    justify-content: center;
    text-align: center;
    text-decoration: underline;
}

#explore-salons-link:hover {
    color: #4b4b4b;
}

@media(min-width:1417px) and (max-width: 2000px){
    .profile-details {
        max-height: 45em;
        height: 34em;
    }
    
    .upcoming-bookings {
        max-height: 45em;
        height: 34em;
    }
}

@media(min-width:1008px) and (max-width: 1416px){
    .profile-details {
        max-height: 45em;
        height: 38em;
    }
    
    .upcoming-bookings {
        max-height: 45em;
        height: 38em;
    }
}

@media(min-width:694px) and (max-width: 1007px) {
    .profile-details {
        max-height: 34em;
        height: 34em;
    }
    
    .upcoming-bookings {
        max-height: 34em;
        height: 34em;
    }
}

@media(max-width: 693px) {
    .profile-details {
        max-height: 45em;
        height: 38em;
    }
    
    .upcoming-bookings {
        max-height: 45em;
        height: 38em;
    }
}


