.logo-container {
    aspect-ratio: 1;
    border-radius: 50%;
    width: 112px;
    max-width: 100%;
    position: absolute;
    background-color: #fff;
    margin-top: 30px;
    margin-left: 30px;
}
.logo {
    object-fit: contain;
    object-position: 6px 5px;
    width: 90%;
    height: 90%;
}



.forBusinessText {
    font: 400 20px 'Julius Sans One', sans-serif;
    position: absolute;
    margin-top: 70px;
    margin-left: 170px;
}



/* Hamburger Menu */
:root{
    --bar-width: 20px;
    --bar-height: 3px;
    --hamburger-gap: 4px;
    --background: #000;
    --animation-timing: 200ms ease-in-out;
}
.hamburger {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: var(--hamburger-gap);
    width: fit-content;
    margin-left: 96%;
    position: absolute;
    top: 70px;
    z-index: 2;
    cursor: pointer;
}
.hamburger::before,
.hamburger::after,
.hamburger input{
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--background);
    border-radius: 20px;
    transform-origin: right center;
    transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing), translate var(--animation-timing);
}
.hamburger input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}
.hamburger:has(input:checked)::before {
    rotate: -45deg;
}
.hamburger:has(input:checked)::after {
    rotate: 45deg;
}
.hamburger input:checked {
    opacity: 0;
    width: 0;
}
.menu {
    display: flex;
    margin-top: 100px;
    overflow: hidden;
    font: 20px 'Julius Sans One', sans-serif;
    line-height: 40px;
    color: #000;
    width: 98vw;
    height: 0;
    position: absolute;
    justify-content: end;
    opacity: 0;
    transition: opacity var(--animation-timing), height var(--animation-timing);
    list-style: none;
    z-index: 100;
}
.hamburger.hamburger:has(input:checked) + .menu {
    height: fit-content;
    opacity: 100;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    text-align: center;
    z-index: 100;
}

.content-container {
    padding-top: 200px;
}