.top-bar {
    background: #DCA8F5;
    height: 165px; 
    position: relative;
    width: 100%;
    z-index: -1;
    top: 0;
    left: 0;
}


.container {
    background-color: white;
    min-height: 100vh; 
    width: 100%;
    padding: 20px;
    font-family: 'Kanit', sans-serif;
}