/* Salon Cards */
.salon-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    /* height: 30vh; 
    padding-left: 80px;
    padding-top: 70px;
    padding-bottom: 40px; */
    padding: 20px 0;
    width: 100%;
    padding-left: 80px;
    padding-right: 80px; /* added so it doesn't go right up to the right edge */
    box-sizing: border-box;
}

.homepage-text-one {
    word-spacing: 4px;
    letter-spacing: 0.5px;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    margin-bottom: 20px;
    width: 90%;
    max-width: 1300px;
    text-shadow: /*creates shadows - general (no offset), bottom left, and bottom right */
    0px 0px 30px #9b35ab, /* general shadow */
    -1px 1px 5px #9b35ab, /* bottom left */
    1px 1px 5px #9b35ab; /* bottom right */

}

.card-wrapper {
    width: 100%;
    /* max-width: 1300px; */ /*removed so it can expand to larger screens */
    display: flex;
    position: relative;
    justify-content: center;
    gap: 16px;
}

.card-wrapper a {
    color: black;
    max-width: 400px;
}

.card-wrapper a:hover {
    color: #b644c8;
}

.card-wrapper i {
    height: 50px;
    width: 50px;
    background: #b644c8;
    color: white;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    font-size: 1.25 rem;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);

}

.card-wrapper i:first-child {
    left: -22px;

}

.card-wrapper i:last-child {
    right: -22px;

}

/* Slider */

.card-wrapper .slider {
    display: grid;
    grid-auto-flow: column;
    /* grid-auto-columns: calc((100% / 3) - 12px); */
    grid-auto-columns: 400px; /*Made it pixels so it can handle more than 3 on the page with larger screens*/
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}

.slider::-webkit-scrollbar {
    display: none;
}

.slider :where(.card, .img) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.slider.no-transition {
    scroll-behavior: auto;
}

.slider.dragging .salon-card {
    cursor: grab;
    user-select: none;
}

.slider .salon-card {
    scroll-snap-align: start;
    font: 15px 'Julius Sans One', sans-serif;
    background-color: white;
    list-style: none;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: auto;
    /* max-width: 400px; */
    padding-bottom: 15px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
/* Slider */

.salon-image {
    object-fit: cover;
    object-position: 0px 0px;
    width: 100%;
    height: 180px;
}

.spacer {
    height: 150px;
}

.salon-name-text {
    font-weight: bold;
}

.salon-card-text {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: space-between; 
    position: relative;
}

.happyhour-text {
    position: absolute;
    right: 10px;
    top: 10px;
    font-weight: bold;
    color: green; 
}



@media screen and (max-width: 900px) {
    .card-wrapper .slider {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}

@media screen and (max-width: 600px) {
    .card-wrapper .slider {
        grid-auto-columns: 100%;
    }

    .card-wrapper i {
        height: 40px;
        width: 40px;
        line-height: 40px;
    }

    .salon-card {
        max-width: 100%;
    }

    .salon-image {
        height: 150px;
    }
}