{% extends "base.html" %}

{% block content %}
{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Kanit' rel='stylesheet'>
</head>

<body>
    <div class="about-body">
        <div class="column-entry">
            <div class="spacer"></div>
            <h1> About You Beauty </h1>
            <h3> Your beauty journey, simplified. </h3>
            <div class="text"> We understood that busy individuals want to look and feel their best without the hassle of traditional scheduling. Our website allows clients to easily view real-time availability at their favorite salons and book appointments with just a few clicks. Plus, we’ve partnered with salons to offer exclusive happy hour prices, ensuring that beauty services are not just accessible but also affordable.
                <br><br>
                But we didn’t stop there. We also wanted to empower salon owners. Our platform provides valuable insights into revenue generation and identifies opportunities for additional happy hours, helping salons maximize profitability while keeping clients satisfied.
                <br><br>
                At the heart of our mission is a commitment to making beauty more accessible and enjoyable for everyone. Join us in transforming the salon experience—one appointment at a time! </div>
            <div class="small-spacer"></div>
            
        </div>

        <div class="column-entry">
            <!-- <div class="spacer"></div> -->
            <div class="spacer"></div>
            <div class="image-text">
                <div class="image-container">
                    <img class="img" src="{% static 'design/aboutpage-img.png' %}">
                </div>
            <!-- <div class="spacer"></div> -->
                <div class="h3"> Empowering salons & delighting clients </div>
            </div>
        </div>
    </div>

</body>

{% endblock %}