{% extends "business_base.html" %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css\business_profile_settings.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Kanit' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Julius Sans One' rel='stylesheet'>
</head>

<body>
    <div class="main-body">
        <div class="sidebar">
            <nav>
                <ul>
                    <li class="nav-item"><a href="{% url 'business_profile_home' %}"><img src="{% static 'design/home-icon.png' %}" alt="home-icon"></a></li>
                    <li class="nav-item"><a href="{% url 'business_profile_calendar' %}"><img src="{% static 'design/calendar-icon.png' %}" alt="calendar-icon"></a></li>
                    <li class="nav-item"><a href="{% url 'business_profile_settings' %}"><img src="{% static 'design/settings-icon.png' %}" alt="settings-icon"></a></li>
                </ul>
            </nav>
        </div>

        <div class="horizontal-spacer"></div>

        <div class="info-container">
            <h2>Profile</h2>
            <img loading="lazy" src="{% static 'design/salon-image.jpg' %}" class="profile-image" alt="profile image">

            <form class="profile-information-container" method="post" action="{% url 'business_profile_settings' %}" id="profile-form">
                {% csrf_token %}
                <div class="profile-item-container">
                    <label for="profile_name">Name: </label>
                    <input type="text" id="profile-name" name="profile_name" value="{{ user.first_name }} {{ user.last_name }}" disabled>
                </div>

                <div class="profile-item-container">
                    <label for="email">Email: </label>
                    <input type="email" id="email" name="email" value="{{ user.email }}" disabled>
                </div>

                <div class="profile-item-container">
                    <label for="phone_number">Phone number: </label>
                    <input type="number" id="phone-number" name="phone_number" value="{{ phone_number }}" disabled>
                </div>
                
                <button type="button" id="edit-button">EDIT</button>
                <button type="submit" id="confirm">CONFIRM</button>

            </form>
        </div>

        <div class="horizontal-spacer"></div>

        <div class="info-container">
            <h2>Business Details</h2>
            <form class="profile-information-container" method="post" action="{% url 'business_profile_settings' %}" id="salon-form">
                {% csrf_token %}
                <div class="profile-item-container">
                    <label for="profile_name">Salon Name: </label>
                    <input type="text" id="salon-name" name="salon_name" value="{{ salon.salon_name }}" disabled>
                </div>

                <div class="profile-item-container">
                    <label for="salon_openingtime">Opening Time: </label>
                    <input type="time" id="salon_openingtime" name="salon_openingtime" value="{{ salon.salon_openingtime|time:'H:i' }}" disabled>
                </div>

                <div class="profile-item-container">
                    <label for="salon_closingtime">Closing Time: </label>
                    <input type="time" id="salon_closingtime" name="salon_closingtime" value="{{ salon.salon_closingtime|time:'H:i' }}" disabled>
                </div>

                <div class="profile-item-container">
                    <label for="happyhour_times">Happy Hour Times: </label>
                    <input type="text" id="happyhour_times" name="happyhour_times" value="{{ salon.happyhour_times }}" disabled>
                </div>

                <div class="profile-item-container">
                    <label for="happyhour_days">Happy Hour Days: </label>
                    <input type="text" id="happyhour_days" name="happyhour_days" value="{{ salon.happyhour_days }}" disabled>
                </div>

                <div class="profile-item-container">
                    <label for="happyhour_discount">Happy Hour Discount: </label>
                    <input type="text" id="happyhour_discount" name="happyhour_discount" value="{{ salon.happyhour_discount }}" disabled>
                </div>

                <!-- Address Fields -->
                <div class="profile-item-container">
                    <label for="address_line1">Address Line 1: </label>
                    <input type="text" id="address_line1" name="address_line1" value="{{ salon.salon_address.address_line1 }}" disabled>
                </div>

                <div class="profile-item-container">
                    <label for="address_line2">Address Line 2: </label>
                    <input type="text" id="address_line2" name="address_line2" value="{{ salon.salon_address.address_line2 }}" disabled>
                </div>

                <div class="profile-item-container">
                    <label for="suburb">Suburb: </label>
                    <input type="text" id="suburb" name="suburb" value="{{ salon.salon_address.suburb }}" disabled>
                </div>

                <div class="profile-item-container">
                    <label for="state">State: </label>
                    <input type="text" id="state" name="state" value="{{ salon_address.state }}" disabled>
                </div>

                <div class="profile-item-container">
                    <label for="postcode">Postcode: </label>
                    <input type="text" id="postcode" name="postcode" value="{{ salon.salon_address.postcode }}" disabled>
                </div>

                <div class="profile-item-container">
                    <label for="country">Country: </label>
                    <input type="text" id="country" name="country" value="{{ salon.salon_address.country }}" disabled>
                </div>

                <button type="button" id="salonedit-button">EDIT</button>
                <button type="submit" id="salonconfirm">CONFIRM</button>
            </form>
        </div>

    </div>

</body>

<script src="../../static/javascript/profilescript.js"></script>
<script src="../../static/javascript/editsaloninfo.js"></script>


{% endblock %}