<!DOCTYPE html>
<html lang="en">

{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}You Beauty{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css\business.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Kanit' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Julius Sans One' rel='stylesheet'>
</head>

<header>
    <div class="logo-container">
        {% if user.is_authenticated and is_authenticated_customer %}
            <a href="{% url 'home' %}">
                <div class="image-container">
                    <img loading="lazy" src="{% static 'design/logo.png' %}" class="logo" alt="logo">
                </div>
            </a>
        {% elif user.is_authenticated %}
            <a href="{% url 'forBusiness' %}">
                <div class="image-container">
                    <img loading="lazy" src="{% static 'design/logo.png' %}" class="logo" alt="logo">
                </div>
            </a>

        {% else %}
            <a href="{% url 'home' %}">
                <div class="image-container">
                    <img loading="lazy" src="{% static 'design/logo.png' %}" class="logo" alt="logo">
                </div>
            </a>
        {% endif %}
    </div>

    <h1>FOR BUSINESS</h1>
    <label class="hamburger">
        <input type="checkbox" id="check">
    </label>

    <aside class="menu">
        <nav>
            {% if user.is_authenticated %}
                Hi {{ user.username }}!
                <!-- Change this link when business profile has been made!!! -->
                <li><a class="active" class="logout" href="{% url 'business_profile_home' %}">Profile</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <a href="{% url 'faq' %}">F.A.Q</a>
                <div class="logout-button">
                    <form method="post" action="{% url 'logout' %}" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="logout-link">Logout</button>
                    </form>
                </div>
            {% else %}
                <li><a class="active" href="{% url 'business_login' %}">Login</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'faq' %}">F.A.Q</a></li>
            {% endif %}
        </nav>
    </aside>
</header>
<div class="small-spacer"></div>

{% block content %}
{% endblock %}

<footer></footer>