{% extends "business_base.html" %}
{% load static %}

{% block content %}


<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css\business_profile_home.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Kanit' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Julius Sans One' rel='stylesheet'>
</head>

<body>
    <div class="main-body">
        <div class="sidebar">
            <nav>
                <ul>
                    <li class="nav-item"><a href="{% url 'business_profile_home' %}"><img src="{% static 'design/home-icon.png' %}" alt="home-icon"></a></li>
                    <li class="nav-item"><a href="{% url 'business_profile_calendar' %}"><img src="{% static 'design/calendar-icon.png' %}" alt="calendar-icon"></a></li>
                    <li class="nav-item"><a href="{% url 'business_profile_settings' %}"><img src="{% static 'design/settings-icon.png' %}" alt="settings-icon"></a></li>
                </ul>
            </nav>
        </div>
        
        <div class="horizontal-spacer"></div>

        <div class="info-column">
            <h2> Appointments Dashboard </h2>
            <div class="info-container">
                <div class="main-stat">
                    <h3>${{ total_revenue|floatformat:2  }}</h3>
                    <h2>Total Revenue</h2>
                </div>
                <div class="other-stats">
                    <div class="stat">
                        <h3>{{ total_bookings_before_today  }}</h3>
                        <h2>Total Bookings</h2>
                    </div>
                    <div class="stat">
                        <h3>${{ avg_revenue_per_hour|floatformat:2  }}</h3>
                        <h2>Average Revenue Per Hour</h2>
                    </div>
                </div>
                <div class="other-stats">
                    <div class="stat">
                        <h3>${{ avg_price_bookings|floatformat:2  }}</h3>
                        <h2>Average Booking Price</h2>
                    </div>
                    <div class="stat">
                        <h3>{{ cancelled_bookings }}</h3>
                        <h2>Total Cancelled Bookings</h2>
                    </div>
                </div>
                <div class="main-stat"> 
                    <p>Most Popular Service is {{service_name}} with {{service_count}} bookings! </p>
                </div>
            </div>
        </div>

        <div class="horizontal-spacer"></div>
        
        <div class="info-column">
            <h2> Upcoming Appointments </h2>
            
            <div class="info-container">
                <div class="manage">
                    <a class="h2-link" href="{% url 'business_profile_calendar' %}">Manage all bookings ></a>
                </div>
                <div class="booking-scroll">
                    {% if upcoming_bookings.count >= 1 %}
                    {% for booking in upcoming_bookings %}
                    <div class="booking">
                        <div class="col1">
                            <h2>{{ booking.customer }}</h2>
                            <h3>{{ booking.salon_service.service }}</h3>
                        </div>
                        <div class="col2">
                            <p>{{ booking.date }}</p>
                            <p>{{ booking.start_time }} - {{ booking.end_time}}</p>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="no-bookings">
                        <p class="no-bookings-message" id="large">No bookings yet!</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>

</body>
{% endblock %}