{% extends "base.html" %}
{% load static %}

{% block content %}
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'css\faq.css' %}">
</head>

<body>
    <div class="FAQ">
        <div class="div">
        <div class="overlap-group">
            <div class="rectangle"></div>
            <div class="ellipse"></div>
            <div class="text-wrapper">FOR BUSINESS</div>
            <img class="line" src="img/line-9.svg" />
            <img class="img" src="img/line-10.svg" />
            <img class="line-2" src="img/line-11.svg" />
            <img class="line-3" src="img/line-12.svg" />
            <img class="logo-png-format" src="img/logo-png-format.png" />
            <div class="rectangle-2"></div>
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
            <div class="rectangle-5"></div>
            <div class="text-wrapper-2">Frequently Asked Questions (FAQ)</div>
            <p class="p">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            <p class="text-wrapper-3">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.
            </p>
            <div class="text-wrapper-4">Q</div>
            <div class="text-wrapper-5">A</div>
            <div class="rectangle-6"></div>
            <p class="text-wrapper-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            <p class="text-wrapper-7">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.
            </p>
            <div class="text-wrapper-8">Q</div>
            <div class="text-wrapper-9">A</div>
            <div class="rectangle-7"></div>
            <p class="text-wrapper-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            <div class="text-wrapper-11">Q</div>
        </div>
        <div class="text-wrapper-12">A</div>
        </div>
    </div>
</body>
{% endblock %}