{% extends "base.html" %}

{% block content %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}You Beauty{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css\faq.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Julius Sans One' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Kanit' rel='stylesheet'>
</head>

<body>
    
    <!-- <div class="Rectangle"></div> -->

    <!-- <h1> Frequently Asked Questions </h1> -->

    <div class="FAQ-body">
        <h1> Frequently Asked Questions (FAQ) </h1>

        <div class="question">
            <div class="Q-letter"> Q </div>
            <div class="Q"> This is the question. </div>
        </div>
        <div class="answer">
            <div class="A-letter"> A </div>
            <div class="A"> This is the answer. </div>
        </div>

        <div class="question">
            <div class="Q-letter"> Q </div>
            <div class="Q"> This is the question. </div>
        </div>
        <div class="answer">
            <div class="A-letter"> A </div>
            <div class="A"> This is the answer. </div>
        </div>

        <div class="question">
            <div class="Q-letter"> Q </div>
            <div class="Q"> This is the question. </div>
        </div>
        <div class="answer">
            <div class="A-letter"> A </div>
            <div class="A"> This is the answer. </div>
        </div>

        <div class="question">
            <div class="Q-letter"> Q </div>
            <div class="Q"> This is the question. </div>
        </div>
        <div class="answer">
            <div class="A-letter"> A </div>
            <div class="A"> This is the answer. </div>
        </div>
        
    </div>
  </div>
</body>

{% endblock %}
