{% extends "base.html" %}
{% load static %}
{% block content %}
<body>
    <div class="wrapper">
        <!-- <div class="select-button">
            <span>Select Location</span>
            <i class="uil uil-angle-down"></i>
        </div> -->
        <div class="content">
            <div class="search">
                <i class="uil uil-angle-down"></i>
                <input type="text" placeholder="Location">
            </div>
            <ul class="options">
                <li>Camperdown</li>
                <li>Darlington</li>
                <li>Chippendale</li>
                <li>Camperdown</li>
                <li>Darlington</li>
                <li>Chippendale</li>
            </ul>
        </div>
    </div>

    <!--happy hour section-->
    <div class="salon-wrapper">
        <p class="homepage-text-one">DISCOVER HAPPY HOUR DEALS  > </p>
        <div class="card-wrapper">
            <div class="salon-card">
                <img loading="lazy" src="{% static 'design/salon-image.jpg' %}" class="salon-image">
            </div>
            <div class="salon-card">
                <img loading="lazy" src="{% static 'design/salon-image.jpg' %}" class="salon-image">
            </div>
            <div class="salon-card">
                <img loading="lazy" src="{% static 'design/salon-image.jpg' %}" class="salon-image">
            </div>
        </div>
    </div>

    <!--top salons section-->
    <div class="salon-wrapper">
        <p class="homepage-text-one">TOP SALONS, SYDNEY > </p>
        <div class="card-wrapper">
            <div class="salon-card">
                <img loading="lazy" src="{% static 'design/salon-image.jpg' %}" class="salon-image">
            </div>
            <div class="salon-card">
                <img loading="lazy" src="{% static 'design/salon-image.jpg' %}" class="salon-image">
            </div>
            <div class="salon-card">
                <img loading="lazy" src="{% static 'design/salon-image.jpg' %}" class="salon-image">
            </div>
        </div>
    </div>
</body>
{% endblock %}