<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}You Beauty{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css\slider.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Kanit' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<!-- search bar -->
<div class="wrapper-service">
    <div class="service-btn">
        <span>Service</span>
    </div>
    <div class="content">
        <div class="search">
            <input type="text" placeholder="Search">
        </div>
        <ul class="options"></ul>
    </div>
</div>

<div class="wrapper-location">
    <div class="select-btn">
        <span>Location</span>
    </div>
    <div class="content">
        <div class="search">
            <input type="text" placeholder="Search">
        </div>
        <ul class="options"></ul>
    </div>
</div>

<div class="wrapper-time">
    <div class="time-btn">
        <span>Time</span>
    </div>
    <div class="content">
        <div class="search">
            <input type="text" placeholder="Search">
        </div>
        <ul class="options"></ul>
    </div>
</div>


<div class="spacer"></div>
<!--happy hour section-->
<div class="salon-wrapper">
    <p class="homepage-text-one">DISCOVER HAPPY HOUR DEALS  > </p>
    <div class="card-wrapper">
        <i id="left" class="fas fa-chevron-left"></i>
            <ul class="slider">
                {% for salon in salon_info %}
                <a href="{% url 'salons:salon_page' salon.id %}">
                    <div class="salon-card">
                        <img loading="lazy" src="{% static 'design/salon-image.jpg' %}" class="salon-image">
                        <div class="salon-card-text">
                            <p class="salon-name-text">{{ salon.salon_name }}</p>
                            <p>{{ salon.salon_address.address_line1 }}</p>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </ul>
        <i id="right" class="fas fa-chevron-right"></i>
    </div>
</div>

<!--top salons section-->
<div class="salon-wrapper">
    <p class="homepage-text-one">TOP SALONS, SYDNEY > </p>
    <div class="card-wrapper">
        <i id="left" class="fas fa-chevron-left"></i>
            <ul class="slider">
                {% for salon in salon_info %}
                <a href="{% url 'salons:salon_page' salon.id %}">
                    <div class="salon-card">
                        <img loading="lazy" src="{% static 'design/salon-image.jpg' %}" class="salon-image">
                        <div class="salon-card-text">
                            <p class="salon-name-text">{{ salon.salon_name }}</p>
                            <p>{{ salon.salon_address.address_line1 }}</p>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </ul>
        <i id="right" class="fas fa-chevron-right"></i>
    </div>
</div> 


<script src="{% static 'javascript/slider.js' %}"></script>
<script src="{% static 'javascript/script.js' %}"></script>
{% endblock %}