{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/make_bookings.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Kanit' rel='stylesheet'>
{% endblock %}

{% block content %}
<div class="top-bar"></div>
<link rel="stylesheet" type="text/css" href="{% static 'css/make_bookings.css' %}">    
<div class="container">
    <link rel="stylesheet" type="text/css" href="{% static 'css/make_bookings.css' %}">    
    <link href='https://fonts.googleapis.com/css?family=Kanit' rel='stylesheet'>

    <h1>Make bookings</h1>
    <div class="booking-section">
        <div class="left-section">
            <h2>Choose a date</h2>
            <div class="calendar">
                <input type="date" id="booking-date" class="calendar-input">
            </div>
            <h2>Choose a time</h2>
            <div class="time-picker">
                <input type="time" id="booking-time" class="time-input">
            </div>
        </div>

        <div class="right-section">
            <h2>Your booking details:</h2>

            <div class="details-card">
                <h3>{{ salon_service.salon.salon_name }}</h3>
                <p>{{ salon_service.salon.salon_address }}</p>
                <p>{{ salon_service.service.service_name }} <span>{{ salon_service.duration }}</span></p>
                <p>Date: <span id="selected-date">Not selected</span></p>
                <p>Time: <span id="selected-time">Not selected</span></p>
                <p>Total amount: <strong>${{ salon_service.price }}</strong></p>
                <button type="submit" class="confirm-button">CONFIRM BOOKING</button>
            </div>
        </div>
    </div>
</div>
<script>
    // JavaScript to update the selected date and time dynamically on the right side
    document.getElementById('booking-date').addEventListener('change', function () {
        document.getElementById('selected-date').textContent = this.value;
    });
    document.getElementById('booking-time').addEventListener('change', function () {
        document.getElementById('selected-time').textContent = this.value;
    });
    </script>
{% endblock %}