{% extends "base.html" %}
{% load static %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% comment %} {% block title %}Login{% endblock %} {% endcomment %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css\login.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Kanit' rel='stylesheet'>
</head>

<body>
    <h3>YOUBEA FOR YOU</h3>
    <div class="card">
        <div class="login-page">
            <h2>LOG</h2>
            <div class="login-form">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <h4><a href="{% url 'password_reset' %}">Forgot Password?</a></h4>
                    <button type="submit">LOGIN</button>
                </form>
            </div>
            <h5>OR</h5>
            <h5><a href="{% url 'register' %}">Create a new account</a></h5>
            

        </div>
    </div>
</body>


       




















{% endblock %}