
body {
    font: 18px 'Kanit', sans-serif;
}

.registration-wrapper {
    max-width: 80vh; 
    position: relative;
    top: 200px;
    margin: 0px auto; 
    padding: 30px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.registration-wrapper h2 {
    font: 400 20px 'Kanit', sans-serif;
    font-size: xx-large;
    margin-bottom: 18px;
    text-align: center;
}


.registration-wrapper a {
    color: #D282DE;
}

.registration-wrapper a:hover {
    color: #B264BE;
}


form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    justify-items: center;
    padding: 80px;
    padding-top: 30px;
}


form input:not([type="file"]) {
    text-align: center;
    border-radius: 33px;
    border-width: 0;
    width: 100%;
    min-width: 300px;
    height: 50px;
    margin-bottom: 15px;
    background-color: #EEEEEE;
}

form input[type="file"] {
    text-align: center;
    margin-bottom: 15px;
    font-family: 'Kanit', sans-serif;
}

form button {
    background-color: #E0A9E8;
    font: 18px 'Kanit', sans-serif;
    color: white;
    border-radius: 33px;
    width: 170px;
    height: 40px;
    border-width: 0;
    margin-top: 30px;
    grid-column: span 2; 
    cursor: pointer;
}

.error-message {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px 20px;
    border-radius: 4px;
    margin-bottom: 15px;
    font-size: 14px;
}

.error-message ul {
    list-style-type: none;
    padding: 0;
}

.error-message li {
    font-weight: bold;
    margin: 0;
}