{% extends "base.html" %}

{% block content %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}You Beauty{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css\profile.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Kanit' rel='stylesheet'>
</head>

<body>
    <div class="profile-heading-container">
        <!-- <h1>PROFILE</h1> -->
        <h1 class="profile-heading">PROFILE</h1>
    </div>
    <div class="profile-page">
        <div class="profile-details">
            <div class="profile-pic-container">
                <div class="image-container">
                    <img loading="lazy" src="{% static 'design/logo.png' %}" class="profile-pic" alt="profile picture">
                </div>
            </div>
            <div class="profile-information-container">
                <div class="profile-item-container">
                    <h3>Name: </h3>
                    <p>User Name</p>
                </div>
                <div class="profile-item-container">
                    <h3>Phone number: </h3>
                    <p>0000 000 000</p>
                </div>
                <div class="profile-item-container">
                    <h3>Email: </h3>
                    <p>username@example.com</p>
                </div>
            </div>
        </div>
        <div class="upcoming-bookings">
            <div class="booking"><p>Hello</p></div>
            <div class="booking"><p>Hello</p></div>
            <div class="booking"><p>Hello</p></div>
            <!-- <p>Hello</p> -->
        </div>
    </div>




</body>
{% endblock %}
