{% extends "base.html" %}

{% block content %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}You Beauty{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css\profile.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Kanit' rel='stylesheet'>
</head>

<body>
    <div class="profile-heading-container">
        <!-- <h1>PROFILE</h1> -->
        <h1 class="profile-heading">PROFILE</h1>
    </div>
    <div class="profile-page">
        <div class="profile-details">
            <div class="profile-pic-container">
                <div class="image-container">
                    {% if is_customer and profile_photo is not None %}
                    <!-- <img loading="lazy" src="/profile_photos/pexels-danxavier-1239291.jpg" class="profile-pic" alt="profile picture"> -->
                    <img loading="lazy" src="{{ profile_photo.url }}" class="profile-pic" alt="profile picture">
                    {% else %}
                    <img loading="lazy" src="{% static 'design/logo.png' %}" class="profile-pic" alt="profile picture">
                    {% endif %}
                </div>
            </div>
            <form class="profile-information-container" method="post" action="{% url 'profile' %}" id="profile-form">
                {% csrf_token %}
                <div class="profile-item-container">
                    <label for="profile_name">Profile Name: </label>
                    <input type="text" id="profile-name" name="profile_name" value="{{ user.first_name }} {{ user.last_name }}" disabled>
                </div>

                <div class="profile-item-container">
                    <label for="email">Email: </label>
                    <input type="email" id="email" name="email" value="{{ user.email }}" disabled>
                </div>

                <div class="profile-item-container">
                    <label for="phone_number">Phone number: </label>
                    <input type="number" id="phone-number" name="phone_number" value="{{ phone_number }}" disabled>
                </div>
                
                <button type="button" id="edit-button">EDIT</button>
                <button type="submit" id="confirm">CONFIRM</button>

            </form>
            <!-- <div class="profile-information-container">
                <div class="profile-item-container">
                    <h3>Profile name: </h3>
                    <p>User Name</p>
                </div>
                <div class="profile-item-container">
                    <h3>Email: </h3>
                    <p>username@example.com</p>
                </div>
                <div class="profile-item-container">
                    <h3>Phone number: </h3>
                    <p>0000 000 000</p>
                </div>
            </div> -->
        </div>
        <div class="upcoming-bookings">
            <div class="upcoming-title">
                <h1>Upcoming bookings:</h1>
            </div>
            <div class="manage">
                <a class="h2-link" href="{% url 'bookings' %}">Manage all bookings ></a>
            </div>
            <div class="booking-scroll">
                {% for booking in bookings %}
                <div class="booking">
                    <h3>{{ booking.salon_service.salon.salon_name }}</h3>
                    <p>{{ booking.date }} - {{ booking.start_time }} - {{ booking.salon_service.service }}</p>
                    <p>{{ booking.salon_service.salon.salon_address }}</p>
                </div>
                {% endfor %}
                <div class="booking">
                    <h3>Tester's Salon</h3>
                    <p>12th of September - 11am - Basic Cut</p>
                    <p>Unit 3, Testing Rd, Darlington</p>
                </div>
                <div class="booking">
                    <h3>Tester's Salon</h3>
                    <p>12th of September - 11am - Basic Cut</p>
                    <p>Unit 3, Testing Rd, Darlington</p>
                </div>
                <div class="booking">
                    <h3>Tester's Salon</h3>
                    <p>12th of September - 11am - Basic Cut</p>
                    <p>Unit 3, Testing Rd, Darlington</p>
                </div>
                <div class="booking">
                    <h3>Tester's Salon</h3>
                    <p>12th of September - 11am - Basic Cut</p>
                    <p>Unit 3, Testing Rd, Darlington</p>
                </div>
            </div>
        </div>
    </div>

    <!-- <script>
        function editProfile(element, color) {
            element.style.backgroundcolor = color;
        }
    </script> -->
    <script src="../../static/javascript/profilescript.js"></script>


</body>
{% endblock %}